@require '~prismjs/themes/prism-tomorrow.css'
// @require 'variables'
@require '~@vuepress/theme-default/styles/code'
@require 'custom-blocks'
@require 'normalize'
@require 'content'
// @require 'classes'
@require 'code'
@require 'palette'
@require 'search-box'

.markdown-body
  line-height 1.8
.markdown-body pre code, .markdown-body pre tt
  font-size 0.8rem
.markdown-body img {
  border: .3em solid #e0dfcc;
  border-radius: 0.5em;
  box-sizing: border-box;
}
:focus
  outline -webkit-focus-ring-color auto 5px
  outline #0366d6 auto 1px
  border-radius 3px
.markdown-body table
  display table

.extra-class
  margin-bottom 24px